.desc-container {
  display: grid;
  grid-template-areas:
    "title"
    "video"
    "desc-content";

  @media (min-width: 768px) {
    grid-template-areas:
      "title video"
      "desc-content video";
    column-gap: 1rem;
  }
}

.desc-title {
  grid-area: title;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 30px;

  @media (min-width: 768px) {
    text-align: start;
    padding-right: 50%;
  }
}

.desc-video {
  grid-area: video;
  width: 100%;
  min-width: 290px;
  max-width: 554px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-top: 2rem;
  }
}

.desc-video > div {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.desc-content {
  grid-area: desc-content;
}
