@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: "Montserrat";
}

main {
  min-height: 100dvh;
}

.bg-hero-image {
  background-image: url("/helimain.png");
  background-size: cover;
  background-position: center;
}

.text-balance {
  text-wrap: balance;
}

.font-xl {
  font-size: 2rem;
}
